[v-cloak]{
  display: none;
}
table{
  td,th{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
  -webkit-appearance: none !important;
  margin: 0;
}
input[type="number"]{-moz-appearance:textfield;}
#app{
  overflow-x: hidden;
  .datatable-scroll{
    overflow: auto;
  }
  .v-link-active{
    font-weight: bold;
    color: #fff;
  }
  .breadcrumb{
    .v-link-active{
      font-weight:normal;
      color: #333333;
    }
  }
}
/**
 * notify 通知组件
 */

.message-notify {
  display: none;
  position: fixed;z-index:10000;
  top:-40px;left:0;
  width:100%;
  text-align: center;
  transition:.3s;
  &.show {
    display: block;
    top:6px;
  }
  .message-notify-content  {
    position: relative;
    padding: 8px 16px;
    border-radius: 6px;
    border: 1px solid #d9d9d9;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.17);
    background: #fff;
    display: inline-block;
  }


  &.message-error-notify {
    .message-notify-content{
      //background:#fdeeed;
    }

  }
  &.message-success-notify {
    .message-notify-content{
      //background:#f4faf0;
    }


  }


  @mixin messageIcon{
    margin-right: 8px;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .message-success-icon {
    @include messageIcon;
    color: #87D068 !important;
    &:before {
      content: "\f058"
    }
  }

  .message-info-icon {
    @include messageIcon;
    color: #57c5f7 !important;
    &:before {
      content: "\f05a"
    }
  }

  .message-error-icon {
    @include messageIcon;
    color: #FF6600 !important;
    &:before {
      content: "\f06a"
    }
  }

  .message-loading-icon {
    @include messageIcon;
    color: #57c5f7 !important;
    -webkit-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear;
    &:before {
      content: "\f110"
    }
  }
}
//ui规范
#app{
  font-family: "PingFang Sc","Microsoft Yahei", Helvetica Neue, Helvetica, Arial, sans-serif;
  line-height:1.7;
  h1{
    font-size: 30px;
  }
  h2{
    font-size: 24px;
  }
  h3{
    font-size: 18px;
  }
  h4{
    font-size: 16px;
  }
  h5{
    font-size: 14px;
  }
  h6{
    font-size: 12px;
  }
  .navbar-inverse{
    padding: 1px 20px;
  }
  .navigation > li.active > a, .navigation > li.active > a:hover, .navigation > li.active > a:focus {
    background-color: #2196f3;
    color: #fff;
  }
  .btn-info{
    background: #2196f3;
    border-color: #2196f3;
    min-width: 90px;
    &:hover{
      background: #42a5f5;
      border-color: #42a5f5;
    }
  }
  .form-control{
    padding: 7px 10px;
  }
  .modal .form-group{
    margin-bottom: 30px;
  }
  thead{
    th{
      border-color:#999;
    }
  }
  td{
    border-color:#E9E9E9;
  }
}