.log-management{
    body{
        background-color:#fff;
    }
    .box-body #table1 th{
        min-width: 85px;
    }
    .textarea-w{
        width: 500px;
        height: 40px;
    }
    .textarea-h{
        height: 100px;
    }  
}