.pay-recheck {
    .dcontent{
      overflow: hidden;
      margin-bottom: 0px;
      .dtitle{
          text-align: center;
          padding-bottom: 15px;
          color:black;
      }
      .control-label {
          i{
              color:red
          }
      }
      .error{
          border-color:red;
      }
      .validation-error-label{
          font-size: 13px;
          margin-top: 15px;
      }
    }
    .nums{
        display: inline-block;
        margin-left: 20px;
        margin-bottom: 20px;
        table tr td {
            height: 44px; 
            padding: 0 20px;
        }
    }
}