.activity-cost-management{
	.dialog-row{
        margin-bottom: 10px;
        span{
            display: inline-block;
            min-width: 300px;
            input,textarea,select {
                display: inline-block;
                width: 190px;
            }
            label{
                display: inline-block;
                width: 72px;
                text-align: right;
            }
            textarea,select{
                width: 495px;
            }
            textarea{
            	resize: none;
            }
            .tlabel{
                position: relative;
                top: -55px;
                i{
                    color:red;
                }
            }
        }
    }
}