.user-managerment {
    body{
        background-color:#fff;
    }
    [v-cloak]{
        display: none;
    }
    .datatable-scroll{
        overflow:auto;
    }
    .page-bar{
        margin: 25px auto;
        text-align: center;
    }
    .box-body #table1 th{
        min-width: 85px;
    }
    .controlSpan{
        display: inline-block;
        margin-right: 10px;
    }
    .modal-foot{
        margin-bottom: 30px;
        clear:both;
        text-align: center;
    }
    .addbottom{
        margin-top: 15px;
        .col-md-2{
            text-align: center;
            input{
                margin-bottom: 10px;
            }
        }
        .col-md-7{
            height: 300px;
            overflow: auto;
            border: 1px solid #ccc;
        }
        .col-md-1{
            padding-top: 40px;
            text-align: center;
            width: 113px;
            input{
                margin:15px 0;
            }
        }
        .col-md-4{
            border: 1px solid #ccc;
            padding:10px;
            width: 243px;
        }
        ul{
            list-style: none;
            height: 278px;
            overflow: auto;
            li{
                margin:5px 0;
                cursor: pointer;
                padding-left:3px;
            }
        }
    }
    .addbottom table tr td,  .addbottom table tr th{
        padding: 2px;
    }
    .addtop,  .addbottom{
        overflow: hidden;
        .form-control{
            padding: 7px;
        }
    }
}