.user-managerment {
    body{
        background-color:#fff;
    }
    [v-cloak]{
        display: none;
    }
    .datatable-scroll{
        overflow:auto;
    }
    .box-body #table1 th{
        min-width: 85px;
    }
    .controlSpan{
        display: inline-block;
        margin-right: 10px;
    }
    .modal-foot{
        margin-bottom: 30px;
        clear:both;
        text-align: center;
    }
}